In [8]:
import pandas as pd

In [9]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [11]:
%%sql
-- mi connetto
sqlite:///db.sqlite

 * sqlite:///db.sqlite
(sqlite3.OperationalError) near "sqlite": syntax error [SQL: '-- mi connetto\nsqlite:///db.sqlite'] (Background on this error at: http://sqlalche.me/e/e3q8)

In [7]:
%%sql
eseguo la query
select * from tabella

 * sqlite:///db.sqlite
Done.

[('Palermo', 3), ('Milano', 8), ('Catania', 7)]

In [12]:
# converto in dataframe l'output
result = %sql select * from tabella
dataframe = result.DataFrame()
dataframe

 * sqlite:///db.sqlite
Done.

     testo  intero
0  Palermo       3
1   Milano       8
2  Catania       7