# Come scrivere comodamente comandi SQL in un notebook

Viene sfruttato il componente <https://github.com/catherinedevlin/ipython-sql> che rende disponibile un comando `magic` dedicato.

In [1]:
import pandas as pd

In [2]:
%load_ext sql

## Connessione

In [3]:
%%sql
sqlite:///db.sqlite

'Connected: @db.sqlite'

## Query

In [8]:
%%sql
select * from tabella

 * sqlite:///db.sqlite
Done.

[('Palermo', 3), ('Milano', 8), ('Catania', 7)]

In [9]:
%%sql
SELECT load_extension('mod_spatialite');

 * sqlite:///db.sqlite
(sqlite3.OperationalError) not authorized [SQL: "SELECT load_extension('mod_spatialite');"] (Background on this error at: http://sqlalche.me/e/e3q8)

## Convesione in dataframe

In [5]:
# converto in dataframe l'output
result = %sql select * from tabella
dataframe = result.DataFrame()

 * sqlite:///db.sqlite
Done.

In [6]:
dataframe

     testo  intero
0  Palermo       3
1   Milano       8
2  Catania       7

# Connessione a db sqlite e conversione in dataframe

In [20]:
import sqlite3
with sqlite3.connect('db.sqlite') as conn:
    dataframe = pd.io.sql.read_sql("""
        SELECT *
        FROM tabella;""", conn)

## Abilitare modulo spatialite in sqlite

In [26]:
conna=sqlite3.connect('db.sqlite')
conna.enable_load_extension(True)
conna.load_extension('mod_spatialite')
conna.execute('select InitSpatialMetadata(1)')
conna.execute("SELECT AddGeometryColumn('tabella', 'geom', 4326, 'POINT', 2);")
conna.execute('''
    UPDATE tabella SET
    geom = GeomFromText(('POINT(13 38)'),4326);
''')
conna.commit()
conna.close()

In [29]:
%%sql
select * from tabella

 * sqlite:///db.sqlite
Done.

[('Palermo', 3, b'\x00\x01\xe6\x10\x00\x00q=\n\xd7\xa3\xdcb@^\xbaI\x0c\x02\xfb@\xc0q=\n\xd7\xa3\xdcb@^\xbaI\x0c\x02\xfb@\xc0|\x01\x00\x00\x00q=\n\xd7\xa3\xdcb@^\xbaI\x0c\x02\xfb@\xc0\xfe'),
 ('Milano', 8, b'\x00\x01\xe6\x10\x00\x00q=\n\xd7\xa3\xdcb@^\xbaI\x0c\x02\xfb@\xc0q=\n\xd7\xa3\xdcb@^\xbaI\x0c\x02\xfb@\xc0|\x01\x00\x00\x00q=\n\xd7\xa3\xdcb@^\xbaI\x0c\x02\xfb@\xc0\xfe'),
 ('Catania', 7, b'\x00\x01\xe6\x10\x00\x00q=\n\xd7\xa3\xdcb@^\xbaI\x0c\x02\xfb@\xc0q=\n\xd7\xa3\xdcb@^\xbaI\x0c\x02\xfb@\xc0|\x01\x00\x00\x00q=\n\xd7\xa3\xdcb@^\xbaI\x0c\x02\xfb@\xc0\xfe')]