# Come scrivere comodamente comandi SQL in un notebook

Viene sfruttato il componente <https://github.com/catherinedevlin/ipython-sql> che rende disponibile un comando `magic` dedicato.

In [34]:
import pandas as pd

In [35]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

## Connessione

In [36]:
%%sql
sqlite:///db.sqlite

'Connected: @db.sqlite'

## Query

In [37]:
%%sql
select * from tabella

 * sqlite:///db.sqlite
Done.

[('Palermo', 3), ('Milano', 8), ('Catania', 7)]

## Convesione in dataframe

In [38]:
# converto in dataframe l'output
result = %sql select * from tabella
dataframe = result.DataFrame()

 * sqlite:///db.sqlite
Done.

In [39]:
dataframe

     testo  intero
0  Palermo       3
1   Milano       8
2  Catania       7