# Come scrivere comodamente comandi SQL in un notebook

Viene sfruttato il componente <https://github.com/catherinedevlin/ipython-sql> che rende disponibile un comando `magic` dedicato.

In [5]:
import pandas as pd

In [6]:
%load_ext sql

## Connessione

In [7]:
%%sql
sqlite:///db.sqlite

'Connected: @db.sqlite'

## Query

In [8]:
%%sql
select * from tabella

 * sqlite:///db.sqlite
Done.

[('Palermo', 3), ('Milano', 8), ('Catania', 7)]

## Convesione in dataframe

In [9]:
# converto in dataframe l'output
result = %sql select * from tabella
dataframe = result.DataFrame()

 * sqlite:///db.sqlite
Done.

In [10]:
dataframe

     testo  intero
0  Palermo       3
1   Milano       8
2  Catania       7

# Connessione a db sqlite e conversione in dataframe

In [11]:
import sqlite3
with sqlite3.connect('db.sqlite') as conn:
    dataframe = pd.io.sql.read_sql("""
        SELECT *
        FROM tabella;""", conn)

dataframe

     testo  intero
0  Palermo       3
1   Milano       8
2  Catania       7